.achievements {
  background-image: url("/public/images/img-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 50px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.wrapper-achievements {
  margin-top: 30px;
  width: 75%;
}

.heading {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.body {
  color: rgb(230, 222, 222);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
